<div class="row">
  <div class="col-xs-6">
    <% @posts.each do |post| %>
      <div class="panel panel-default">
        <div class="panel-body">
          <p><%= post.content %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>